.p-navbar{
	background-color: #e65101 !important;
}
.p-logo{
	display: inline-block;
}
.p-logo img{
	margin-top: -5px;
	height: 30px;
}

.p-nav-control li a{
	color: white !important; 
	font-family: 'Roboto', sans-serif;
}

.p-nav-search input{
	width: 330px !important;
	border:none;
	height: 30px;
	border-radius: 3px !important;
}

.p-banner{
	margin: 0px !important;
	padding:0px !important;
	height: 500px;
	/*max-height: 400px;*/
	/*overflow: hidden;*/
	background-color: #acacac;
}
.p-container-banner{
	margin-top: -20px;
}

.p-bg-grey{
	background-color: #acacac !important;
}
.p-nav-item{
	/*background-color: red;*/
	height: 400px;
}

.p-nav-item p{
	text-align: center;
	line-height: 500px;
	font-size: 60px; 
}

.p-text a{
	color: black;
	font-family: 'Roboto';
	line-height: 60px;
	text-decoration: none;
}

.sm-margin-top{
	margin-top: 20px !important;
}
.md-margin-top{
	margin-top: 50px !important;
}

.header-content{
	border-left: 10px solid #e65101;
	padding-left: 5px;
}

.header-content h4{
	font-weight: bolder;
}

.p-card-image{
	height: 270px;
}

.p-card-grade p{
	font-weight: bold;
	font-size: 20px;
}

.p-card-title{
	font-size: 23px;
	font-family: 'Roboto';
}

.p-card-write{
	margin-top: -10px;
	font-size: 15px;
	font-family: 'Roboto';
}

.p-card-content{
	text-align: justify;
	font-family: 'Roboto';
}

.card-image-small{
	height: 200px;
	width: 100%;
}

.desc-item-sm{
	box-sizing: border-box;
	width: 50%;
	font-size: 13px;
	float: left;
	display: inline;
}

.desc-item-sm span{
	/*margin-right:7px;*/
}

.p-card-describe{
	width: 100%;
}

.p-view-all{
	color: black;
	/*margin-top: 20px;*/
	display: inline-block;
	transform: translate(0,5px) !important;
	font-weight: bold;
	font-family: 'Roboto';
}

.p-iklan{
	height: 80px;
}

footer{
	align-items: center;
	justify-content: center;
	display: flex;
	height: 300px;
	width: 100%;
	background-color:  #e65101 ;
}

.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
	color: black !important;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #999;
}
 
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: #e65101 !important;
}

.bg-gradient{
			background: linear-gradient(-46deg,#FF8A56,#F73131);
		}

		.panel{
			box-shadow: 0px 2px 20px #d6d5d5;
		}

		.new-input{
			height: 40px;
			width: 100%;
			background-color: #d6d5d5;
			border:none;
			padding: 10px;
			outline: none;
			border-radius: 2px;
		}

		.new-btn{
			height: 40px;
			width: 100%;
			border:none;
			background: linear-gradient(-90deg,#FF8A56,#F73131);
			color: white;
			border-radius: 2px;
		}
		.divider{
			height: 1px;
			width: 100%;
			background-color: #d6d5d5;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.sosmed-box{
			width: 210px;
			margin: 0 auto;
			/*background-color: red;*/
		}
		.sosmed-btn{
			box-sizing: border-box;
			border: none;
			padding: 10px;
			width: 100px;
			margin-right: 2px;
			transition: .3s;
		}
		.sosmed-btn:hover{
			transform: translate(0,-2px);
			box-shadow: 0 0 5px #d6d5d5;
		}

		.fb-btn{
			background-color: #2D8AD9;
			color: white;
		}
		.google-btn{
			background-color: #EA5D3C;
			color: white;
		}

		.p-logos{
			margin: 20px auto;
			width: 200px;
		}

		.p-logos img{
			width: 100%;
		}
		
		.box-action{
			width: 200px;
			margin: 0 auto;
			text-align: center;
		}

		.clickable-id{
			width: 100px;
			/*background-color: red;*/
			float: left;
			line-height: 40px;
			height: 40px;
			margin-bottom: 20px;
		}
		.new-active{
			/*background-color: linear-gradient(-90deg,#FF8A56,#F73131);;*/
			color: #ff8a56;
			/*font-size: 18px;*/
			border-bottom: 1px solid #FF8A56;
		}

		.btn-a{
			height: 40px;
			display: inline-block;
		}